﻿/*----------------------------------------------------------
El color base de esta plantilla es #5c87b2. Si desea usar
otro color, empiece por reemplazar todas las instancias de
#5c87b2 con el nuevo color.
----------------------------------------------------------*/
/** {
    margin: 0; padding: 0;
}*/
table 
{
 /* border: solid 1px #000;*/
  border-collapse: collapse;
    width: 100%;
  /* border-bottom: solid 2px #000000;*/
  /* border-right:  solid 2px #000000;*/
  box-shadow:  4px 5px 2px #FFE7C2;
  padding: 3px 0px 3px 0px;
  min-height: 40px;
  color: #000000;
  text-align: center;
    
}



table tr
{
  border: solid 1px #e8eef4;
    background-color: #FFD99E;
}

table th
{
  padding: 4px 5px;
  text-align: left;
  /* background-color: #F57E00;  */
  /*background-color: #FF6600;*/
  background-color: #FFA200;
  border: solid 1px #ffffff;  
  color:#292929;
}

body
{
    background-color: #ffffff;
   /* background-color: #E8E8E8;*/
   /* background-image:url('https://lh4.googleusercontent.com/-Piy2lHaxIIc/Uq43GIGVe7I/AAAAAAAAAls/F30NVgi-uI4/w5-h20-no/bodybg.png'); */
    background-repeat: repeat;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0 !important;
    padding: 0 !important;
    color: #000000;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p
{
    margin-bottom: 20px;
    line-height: 1.6em;
    list-style: none;
}

/* TÍTULOS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #3B3B3B;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* esta regla crea etiquetas <h2> que son el 
primer elemento secundario de las columnas de tabla izquierda y derecha */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* ELEMENTOS DE DISEÑO PRIMARIO   
----------------------------------------------------------*/

/* puede especificar un porcentaje mayor o menor para el 
ancho de página. O bien puede especificar un ancho de píxel exacto. */
.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 1.5em;
}


#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    top: 0px;
    left: 0px;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #ffffff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}


#mainwrapper
{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px #888888;
    border-radius:10px;
    padding: 2px 2px 2px 2px; 
}


#main
{
    margin: 0 auto;
    padding: 30px 30px 50px 30px;
    /* background-color: #1E5287;*/ 
    background-color: #F7F7F7;
    box-shadow: 2px 2px 20px #888888;
    border-radius:9px;
    _height: 1px; /* solo IE6 aplica las propiedades de CSS con un carácter de subrayado inicial */
    min-height: 1300px;
    
    width: 94%;
    
    
}



#footer
{
    color: #999;
    padding: 10px 0;
    text-align: right;
    line-height: normal;
    margin: 0;
    font-size: .9em;
    
    clear: both;
 position: relative;
 z-index: 500;
 
 margin-top: -3em;
}

#logo 
{
    float: right;
    text-align: right;
    margin: 0 7px 0 0;
    
}



/* ELEMENTOS DE DISEÑO DE FORMULARIOS  
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ffffff;
    box-shadow: 3px 3px 10px #888888;
    background-color: #E0E0E0;
    
}

fieldset.centrar 
{
    width: 400px;
    margin:auto;
}



fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 4px 8px 4px;
}



input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}



/* VARIOS  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:#FFBB00;
}



.comentario
{
    overflow: hidden;
}

.comentario [type="text"] , textarea 
{
    height: 75px;
    border: 1px solid #CCC;
 	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
	max-width: 100%;
}

.comentarioOpt
{
    height: 30px;
    border: 1px solid #CCC;
 	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
	max-width: 100%;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

div.centrar
{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

#logindisplay
{
    font-size:1.1em;

    text-align:center;
    margin:10px 10px 10px 10px;
    color:#000000;
   
}

#logindisplay a:link
{
    color: #000000;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: #DB8700;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: #000000;
    text-decoration: none;
}

/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #000000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #FFBB00;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #FFBB00;
}

.validation-summary-valid
{
    display: none;
}


.menu {
    background:#ffa500;
    color:#fff;
    height:40px;
    line-height:40px;
    letter-spacing:1px;
    width:100%;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}




/* 
 * JQUERY DROPDOWN STYLES 
 *
 */
/* 
	ORIGINAL
*/
/*ul.dropdown                         { position: relative;  margin:0 auto; padding:0; }
ul.dropdown li                      { font-weight: bold; display:inline-block; *display:inline; zoom: 1; border-radius: 9px; }
ul.dropdown a:hover		            { color: #fff; }
ul.dropdown a:active                { color: #ffa500; }

ul.dropdown li a                    { display: block; 
                                      color: #ffffff;
	 								  background: #FFA200;
	 								  border-radius:9px;
	 								  padding:13px 20px;
                                      box-shadow: 2px 2px 2px 1px #999999; 
	 								  text-decoration:none;
	 								  line-height:1.3em;
*/
 
 
 
 /* 
 * JQUERY DROPDOWN STYLES 
 *
 */
/* 
	LEVEL ONE
*/
ul.dropdown{
    line-height: 1.3em;
    border-spacing: 0;
    border: 0;
    table-layout: fixed;
    display: inline;

    border-collapse: collapse;
}
ul.dropdown li 
{
    font-size: 1em;
}
ul.dropdown                         { position: relative;  margin:0 auto; padding:0; }
ul.dropdown li                      { font-weight: bold; display:inline-block; zoom: 1; }
ul.dropdown a:hover		            { color: #fff; }
ul.dropdown a:active                { color: #ffa500; }

ul.dropdown li a                    { display: block; 
                                      color: #ffffff;
	 								  background: #FFA200;
                                      padding: 1em 2em;
	 								  /*box-shadow: 2px 2px 2px 1px #999999; */
	 								  text-decoration:none;
	 								  /*line-height:1.3em;*/

	 								 
	 								}
ul.dropdown li:last-child a         { background:#FFA200; /*border-radius: 9px; */} /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; }
ul.dropdown li.hover a              { color: #FFA200;background-color: #ffffff; font-weight: bold;}


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ visibility: hidden; position: absolute; /* top: 100%; */  }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; /*float: none;*/display: block; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; /* width: 100%; display: block;*/ /*display: inline-block;*/  } 
ul.dropdown ul li a:hover           { background-color:#FFA200; color:#ffffff; }

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }


/*


ul {
  background:#ffa500;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
li {
  background:#ffa500;
  margin: 0;
}
ul li 
{
  background:#ffa500;
  font-weight:bold;
  display: inline-block;
  margin-right: -4px;
  position: relative;
    text-decoration: none;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
ul li:hover 
{
  background:#ffa500;
  color: #fff;
}
ul li ul 
{
  background:#ffa500;
  
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background:#ffa500;
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background:#ffa500; }
ul li:hover ul 
{
  background:#ffa500;
  display: block;
  opacity: 1;
  visibility: visible;
}
*/






/* Estilos para aplicaciones auxiliares de editor y visualización
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
    height: 28px;
}

.display-label 
{
    font-weight: bold;
}


.text-box
{
  /*  width: 14.9em; */
    width: 5em;
    
}



input[type="text"] 
{
    width: 15em;
    border: 1px solid #CCC;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.boton:hover 
{
    border-color: #E0E0E0;
    background-color: #ffffff;
    color: #FFA200 ; 
}

p a,.boton, a.boton /*CSS para el boton */
{
    
    font-weight: bold;
    float: left;
    background: #FFA200;
    /* background-image:url('https://lh6.googleusercontent.com/-QhjG1-lbzBw/Uqkft5V3nXI/AAAAAAAAAlM/nxqpO8dJoeQ/w2-h34-no/button_bg.png'); */
    color: #ffffff ;
    padding: 7px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
    border: 0 solid white;
    /* border-bottom: 4px;*/
    
    margin: 0 2px 0 2px;
    display: block;
    right: 50%;   
}

.boton:disabled
{
    background-color: #A8A8A8;
    color: #ffffff;    
}


.boton_der:hover 
{
    border-color: #E0E0E0;
    background-color: #ffffff;
    color: #FFA200 ; 
}

p a,.botonGris, a.botonGris /*CSS para el boton */
{
    
    font-weight: bold;
    float: left;
    background: #BABABA;
    /* background-image:url('https://lh6.googleusercontent.com/-QhjG1-lbzBw/Uqkft5V3nXI/AAAAAAAAAlM/nxqpO8dJoeQ/w2-h34-no/button_bg.png'); */
    color: #ffffff ;
    padding: 7px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
    border: 0 solid white;
    /* border-bottom: 4px;*/
    
    margin: 0 2px 0 2px;
    display: block;
    right: 50%;   
}

.botonGris:hover 
{
    border-color: #E0E0E0;
    background-color: #ffffff;
    color: #BABABA ; 
}


p a,.boton_der, a.boton_der
{
    
    font-weight: bold;
    float: right;
    background: #FFA200;
    /* background-image:url('https://lh6.googleusercontent.com/-QhjG1-lbzBw/Uqkft5V3nXI/AAAAAAAAAlM/nxqpO8dJoeQ/w2-h34-no/button_bg.png'); */
    color: #ffffff ;
    padding: 8px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
    border: 0 solid white;
    /* border-bottom: 4px;*/
    
    margin: 0 2px 0 2px;
    display: block;
    right: 50%;
    
    
}

.boton_der:disabled
{
    background-color: #A8A8A8;
    color: #ffffff;    
}


.boton_izq:hover 
{
    border-color: #E0E0E0;
    background-color: #ffffff;
    color: #FFA200 ; 
}

p a,.boton_izq, a.boton_izq
{
    
    font-weight: bold;
    float: left;
    background: #FFA200;
    /* background-image:url('https://lh6.googleusercontent.com/-QhjG1-lbzBw/Uqkft5V3nXI/AAAAAAAAAlM/nxqpO8dJoeQ/w2-h34-no/button_bg.png'); */
    color: #ffffff ;
    padding: 8px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
    border: 0 solid white;
    /* border-bottom: 4px;*/
    
    margin: 0 2px 0 2px;
    display: block;
    right: 50%;
    
    
}

.boton_izq:disabled
{
    background-color: #A8A8A8;
    color: #ffffff;    
}



.nombre 
{
    text-align: center;
    float: left;
    width: 175px;
    padding-top: 3px;
}

.campo 
{
    float: left;
    width: 50px;
    margin-right: 10px;
}

.izq {
   /* background-color: Red;*/
    text-align: right;
    float: left;
    width: 45%;
    
    padding-right: 20px;
    
    
}

.der {
   /* background-color: Aqua;*/
    
    text-align: left;
    margin-left: 20%;
    padding-bottom: 5px;
    
}

/*
.actualizado {
    display: none;
    float:right;
    width:70px;
    padding: 10px;
    background-color: #33C133;
    color: #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
}
*/

.actualizado {
    display: none;
    font-weight: bold;
    float: right;
    background: #33C133;
    color: #ffffff ;
    padding: 8px 10px;
    text-decoration: none !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 7px 10px -1px #999999;
    border: 0 solid white;
    margin: 5px 2px 5px 2px;
    right: 50%;
}

.warning {
    text-align: center;
    color: red;
    background: antiquewhite;   
}

hr.fancy-line { 
    border: 0; 
    height: 1px;

}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(246, 131, 23,0.5) 0%,rgba(0,0,0,0) 75%);
}

hr.fancy-line:after {
    background: initial;
}