﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<IEnumerable<GAdUPIN.WEB.ViewModels.PlazaColegioListVM>>" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	PlazasDisponibles
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Plazas disponibles</h2>

    <table id="Jtable" class="display" style="text-align: left" >
        <thead>
            <tr>
            
                <th style="display: none">
                    IdPlaza
                </th>
                <th style="display: none">
                    IdColegio
                </th>
                <th>Código Plaza</th>
                <th>
                    Colegio
                </th>
                <th>
                    Comunidad
                </th>
                <th>
                    Fecha Inicio
                </th>
                <th>
                    Etapa Educativa
                </th>
                <th>
                    Cuantía
                </th>
                <th>
                    Adicional
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <% foreach (var item in Model) { %>
                <td style="display: none">
                    <%: item.Id %>
                </td>
                <td style="display: none">
                    <%: item.IdColegio %>
                </td>
                <td>
                    <%: item.CodigoPlaza %>
                </td>
                <td>
                    <%: Html.ActionLink(item.NombreColegio, "Details", "Colegio", new { id = item.IdColegio }, null)%>
                    <%--<%: Html.ActionLink(item.CubiertaPor.Nombre, "DetailsCandidato", "Candidato" ,new { id=item.CubiertaPor.Id }, null) %> --%>
                    
                </td>
                <td>
                    <%: item.NombreComunidadAutonoma %>
                </td>
                <td>
                    <%: Html.DisplayFor(p => item.FechaInicio) %>
                </td>
                <td>
                    <%: item.EtapaEducativa.EtapaEducativaNombre %>
                </td>
                <td>
                    <%: item.CuantiaBeca %>
                </td>
                <td>
                    <%: item.DatoAdicional %>
                </td>
                <td>
                    
                    <% if (item.Cubrir){ %>
                        <%: Html.ActionLink("Cubrir", "CubrirPlaza", new {idCandidato = ViewData["idCandidato"], idPlaza = item.Id}) %> 
                    <% }
                    else { %>
                        <%: Html.ActionLink("Ofrecer", "EnviarPlaza", new {idCandidato = ViewData["idCandidato"], idPlaza = item.Id}) %> 
                    <% } %>

                </td>
                <td>
                    <%--<%: Html.ActionLink("Ver colegio", "Details", "Colegio" ,new {  id=item.Colegio.Id })%> |--%>
                    <%: Html.ActionLink("Ver plaza", "Edit", "PlazaColegio",new { id=item.Id }, null)%>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTableExt.sErrMode = 'throw';
        $('#Jtable').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sSwfPath": "../../Content/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls.swf",
                "aButtons": ["copy", "csv", "print"]
            },
            "oLanguage": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
    </script>

</asp:Content>

