﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master"
 Inherits="System.Web.Mvc.ViewPage<IEnumerable<GAdUPIN.WEB.ViewModels.ProvinciaListVM>>" %>


<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	Listado de provincias
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<% using (Html.BeginForm())
   { %>
        <%: Html.ValidationSummary(true) %>
    <% if (Model.Count() != 0)
       { %>
    <h2>Provincias de: <%: Model.First().NombreComunidadAutonoma %> </h2>
    <% }
       else
       { %>
    <h2>No existen localidades para dicha comunidad autonoma</h2>
    <% } %>

    <table id="Jtable" class="display" style="text-align: left">
        <thead>
            <tr>
                <th style="display: none">
                    IdComunidadAutonoma
                <th style="display: none">
                    Id
                </th>
                <th>
                    Provincia
                </th>
                <th></th>
            </tr>
        </thead>

    
        <tbody>
            <tr>
                <% foreach (var item in Model) { %>
                <td id="ide" style="display: none">
                    <%: item.Id %>
                </td>
                <td id="Td1" style="display: none">
                    <%: item.IdComunidadAutonoma %>
                </td>
                <td>
                    <%: item.NombreProvincia %>
                </td>
                <td>
                    <%: Html.ActionLink("Modificar", "Edit", new {id = item.Id}) %> |
                    <%: Html.ActionLink("Eliminar", "Delete", new {id = item.Id}) %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.dataTableExt.sErrMode = 'throw';
                $('#Jtable').dataTable({
                    "oLanguage": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
            });
    </script>

    <p style="clear: left; margin-top:30px;">
        <%if (Model.Count() != 0)
          { %>
        <%: Html.ActionLink("Añadir", "Create", new { comunidadA = Model.First().IdComunidadAutonoma}, new {@class="boton_der"}) %>
        <div>
        <%--<%: Html.ActionLink("Volver", "Index", "Comunidades", new{id = Model.First().IdComunidadAutonoma}, new {@class="boton_izq"}) %>--%>
        </div>
        <% } %>
        <%else { %>
        <%: Html.ActionLink("Añadir", "Create", new { comunidadA = ViewData["IdComunidad"]}, new { @class = "boton_der" })%>
        <%--<%: Html.ActionLink("Volver", "Index", "Comunidades", null , new {@class="boton_izq"}) %>--%>
        <% } %>
         
         
    </p>
    <% } %>
</asp:Content>
